body {
    background-color: lightpink;
}

.center {
    margin: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button {
    color: black;
    text-decoration: none;
    font-size: xx-large;
    font-family: "Indie Flower", cursive;
    font-weight: 600;
    font-style: normal;
    background: none;
    border: 5px solid transparent;
    border-radius: 70%;
    transition: all 0.2s ease;
}

.button:hover {
    border: 5px solid red;
    border-radius: 48% 52% 47% 53% / 52% 48% 51% 49%;
    /* border-top-style: dashed; */
    border-top-color: red;
    border-top-width: 3.5px;
}

.indie-flower-regular {
    font-size: xx-large;
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
}
